In [8]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
import pandas as pd
from sqlalchemy.orm import Session

In [9]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
Base = declarative_base()
conn = engine.connect()

In [10]:
measure = pd.read_csv('hawaii_measures_clean.csv')
station = pd.read_csv('hawaii_stations_clean.csv')
station.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [11]:
class measures(Base):
    __tablename__ = 'hawaii_measure'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)
class stations(Base):
    __tablename__ = 'hawaii_station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [12]:
Base.metadata.create_all(engine)

In [15]:
ha_meas = measure.to_dict(orient='records')
ha_stat = station.to_dict(orient='records')

In [16]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [19]:
table1 = sqlalchemy.Table('hawaii_measure', metadata, autoload=True)
table2 = sqlalchemy.Table('hawaii_station', metadata, autoload=True)

In [20]:
conn.execute(table1.insert(), ha_meas)
conn.execute(table2.insert(), ha_stat)